<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
    
    
            <label for="name">webpages</label>
            <select name="name" id="name">
                {% for wo in webpages %}
                    <option value="{{wo.name}}">{{wo.name}}</option>
                {% endfor %}
            </select>
    
            <br><br>
    
            <label for="date">date</label>
            <input type="text" name="date" id="date"> <br><br>
    
            <label for="text">author</label>
            <input type="text" name="author" id="author"><br><br>
    
            
    
            <input type="submit" value="insert access record">
    
    
        </form>
    </center>
    
</body>
</html>